/* code block */
.code {
    max-width: 650px;
    border-radius: 10px;
    margin: 0 auto;
    border: 2px solid #d68227; /* replace with your theme colour */
    color: #d68227; /* Same here */
    overflow: auto;
}
.img {
    margin: 0 auto;
    max-width: 650px;
}
.overflow-indicator {
    text-align: center;
    color: #d68227;
    display: none;
}
@media screen and (max-width : 760px) {
    .overflow-indicator {
        display: block;
    }
}