<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Template</title> <!--  Remember to change the title! -->
    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/component.css">
    <!-- Custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Sarpanch:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <!-- meta information -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome custom tab colour -->
    <meta name="theme-color" content="#d68227">
</head>
<body>
<header>
    <nav class="fixedTopNav nazif">
        <div class="logo-container">
            <div id="logo">
                <a href="../index.html">Team Crispy</a>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../timeline.html">Timeline</a></li>
                    <li><a>Template</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="../template/article.html">Article</a></li>
                                <li><a href="../template/block.html">Block</a></li>
                                <li><a href="../template/steps.html">Steps</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>Teammate</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="../member/daniel.html">Daniel</a></li>
                                <li><a href="../member/dinesh.html">Dinesh</a></li>
                                <li><a href="../member/nazif.html">Nazif</a></li>
                                <li><a href="../member/rumiza.html">Rumiza</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="title nazif">
        <div>
            <div class="container">
                <h1>Fiber Optic and Its Use in Communication</h1>
            </div>
            <div class="profile-card">
                <p>Nazif Karowadia</p>
                <p>DD/MM/YYYY</p>
                <div class="profile"><img src="../img/profile.jpg"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet.</p>
        <h3>1. (The First Step)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
        <div class="container">
            <div class="code">
                <pre>Code here</pre>
                <div class="overflow-indicator"><p>You might want to scroll right.</p></div>
            </div>
        </div>
        <p>Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales.</p>
        <h3>2. (The Second Step)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis.</p>
    </div>
</main>
<footer class="nazif">
    <div class="container">
        <div id="copyright">
            <p>&copy; 2016 Fenghao Guo</p>
            <div id="validation">
                <script src=http://my.gblearn.com/js/loadscript.js></script>
            </div>
        </div>
    </div>
</footer>
</body>
</html>