<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block Template</title>
    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/row.css">
    <!-- Custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Sarpanch:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
    <!-- meta information -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome custom tab colour -->
    <meta name="theme-color" content="#c1d045">
</head>
<body>
<header>
    <nav class="fixedTopNav nazif ">
        <div class="logo-container">
            <div id="logo">
                <a href="../index.html">Team Crispy</a>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../timeline.html">Timeline</a></li>
                    <li><a>Template</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="../template/article.html">Article</a></li>
                                <li><a href="../template/block.html">Block</a></li>
                                <li><a href="../template/steps.html">Steps</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>Teammate</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="../member/daniel.html">Daniel</a></li>
                                <li><a href="../member/dinesh.html">Dinesh</a></li>
                                <li><a href="../member/nazif.html" class="active">Nazif</a></li>
                                <li><a href="../member/rumiza.html">Rumiza</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="title nazif">
        <div>
            <div class="container">
                <h1>Fiber-Optics And Its Need In Communication.</h1>
            </div>
            <div class="profile-card">
                <p>Nazif Karowaddia</p>
                <p>25/03/2016</p>
                <div class="profile"><img src="../img/profile.jpg"></div>
            </div>
        </div>

    </div>
    <div class="container">
        <p></p>
    </div>
    <div class="row">
        <div class="container">
            <div class="block-picture col-half">
                <img src="../img/nazif/pic1.jpg" alt="Gallery">
            </div>
            <div class="block-content col-half">
                <h3>1.  Physical Properties:</h3>
                <p>Optical fiber is made of silica-based glass,and consists of core surrounded by cladding. The central part of the fiber, called the core, has a refractive index of N1. The cladding that surrounds the core,has a refractive index of N2 which is lower then N1.This property enables total internal reflection.The other most layer is called Coating or Buffer which provides physical protection.Secondar buffer might be useded to provided more protection.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="block-picture col-half">
                <img src="../img/nazif/pic4.png" alt="Gallery">
            </div>
            <div class="block-content col-half">
                <h3>2.Types of optical fibers:</h3>
                <p><li><p><b>Single Mode Fibers:</b> Core of single mode fibers is small in size (diameter) around 8 to 10 micrometer. It propagateonly in one mode, thus single mode fibers are capable of transferring higher amounts of data due to lower fiber dispersion. Single mode fibers use laser diodes and it is generally used in telephones and cable TV applications. </p></li>
				</p>
				<p><li><p><b>Multimode Fibers:</b>Multimode fibers can propagate over 100 modes.The number of modes propagated depends on core size and numerical aperture(NA).Higher NA and larger core size makes light transmit easily. Multimode fibers permit use of of light-emitting diodes(LEDs) .LEDs are cheaper, less complex and lasts longer compared to laser diodes.Only disadvantage is that with increases in modes increases dispersion effect.</p></li>
				</p>.
            </div>
        </div>
    </div><div class="row">
    <div class="container">
        <div class="block-picture col-half">
            <img src="../img/nazif/pic3.jpg" alt="Gallery">
        </div>
        <div class="block-content col-half">
            <h3>3.Need in Communication</h3>
            <p><li><p>Optical fibes are used in communication as it permists transmission of signals over long distances and at higher data rates(bandwidths) than other forms of communication.</p></li></p>
			<p><li><p>Fibers are used instead of metel wires because signals travel along them without lose of energy and they are also inmmune to electromagnetic interference.</p></li></p>
			<p><li><p>Use of optical fiber save energy and transmiting speed is same as speed of light.</p></li></p>
        </div>
    </div>
</div>
</main>
<footer class="nazif">
    <div class="container">
        <div id="copyright">
            <p>&copy; 2016 Fenghao Guo</p>
            <div id="validation">
                <script src=http://my.gblearn.com/js/loadscript.js></script>
            </div>
        </div>
    </div>
</footer>
</body>
</html>