<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step-by-Step Template</title>
    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="../css/card.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/component.css">
    <!-- Custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Sarpanch:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <!-- meta information -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome custom tab colour -->
    <meta name="theme-color" content="#9c1f4d">
</head>
<body>
<header>
    <nav class="fixedTopNav daniel">
        <div class="logo-container">
            <div id="logo">
                <a href="../index.html">Team Crispy</a>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../timeline.html">Timeline</a></li>
                    <li><a>Template</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="../template/article.html">Article</a></li>
                                <li><a href="../template/block.html">Block</a></li>
                                <li><a href="../template/steps.html">Steps</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>Teammate</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="../member/daniel.html">Daniel</a></li>
                                <li><a href="../member/dinesh.html">Dinesh</a></li>
                                <li><a href="../member/nazif.html">Nazif</a></li>
                                <li><a href="../member/rumiza.html">Rumiza</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="title daniel">
        <div>
            <div class="container">
                <h1>How Colour Affect Our Mood</h1>
            </div>
            <div class="profile-card">
                <p>Daniel Jeong</p>
                <p>DD/MM/YYYY</p>
                <div class="profile"><img src="../img/profile.jpg"></div>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
        <div class="card">
            <h3>1. Dice the vegetables</h3>
            <img src="../img/risotto.jpg" alt="risotto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
        </div>
        <div class="card">
            <h3>2. Boil the chicken broth (or veggie broth)</h3>
            <img src="../img/risotto.jpg" alt="risotto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
        </div>
        <div class="card">
            <h3>3. Fry arborio rice with olive oil til turns slight transparent</h3>
            <img src="../img/risotto.jpg" alt="risotto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
        </div>
    </div>
</main>
<footer class="daniel">
    <div class="container">
        <div id="copyright">
            <p>&copy; 2016 Fenghao Guo</p>
            <div id="validation">
                <script src=http://my.gblearn.com/js/loadscript.js></script>
            </div>
        </div>
    </div>
</footer>
</body>
</html>